:root {
  /* --primary-color: #efe87c; */
  /* --primary-color: #ebd9ad; */
  --primary-color: hsl(43, 31%, 80%)  ;
  /* --secondary-color: hsl(260, 100%, 83%); */
  --secondary-color: #6fc5dd;
  /* --accent-color: hsl(20, 100%, 50%); */
  --accent-color: #6446d3;
  --section-margin: 6rem auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

.fas.fa-star {
  color: rgb(213, 177, 58);
  margin: 0;
}

.fas, .fab{
  margin-right: 0.5rem;
}

.noscroll {
  overflow: hidden;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

img {
  width: 100%;
}

button {
  all: unset;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid black;
}

.logo {
  height: 100%;
  align-content: center;
}

.logo img {
  height: 80%;
}

.navbar-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.navbar-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  padding: 0.8rem 0;
}

.navbar-menu a::after {
  content: ".";
  position: absolute;
  font-size: 3rem;
  bottom: -0.5rem;
  left: 50%;
  translate: -50%;
  display: none;
}

.navbar-menu li:hover {
  transition: 200ms;
  translate: 0 -7px;
}

.navbar-menu a:hover::after {
  display: block;
}

.nav-phone {
  margin-right: 1rem;
  color: lightseagreen;
}

/* CTA button styles */

.cta-btn {
  padding: 10px 15px;
  background-color: var(--accent-color);
  outline: 3px var(--accent-color) solid;
  outline-offset: -3px;
  border-radius: 4px;
  transition: 300ms;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: 300ms;
}

.cta-btn i {
  translate: 0px 2px;
}

.cta-btn:hover {
  background-color: transparent;
  color: #181717;
}

/* Mobile burger menu */
.nav-toggle {
  display: none;
  z-index: 110;
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .navbar-menu {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 99;
  }
}

/* Mobile Menu */

.mobile-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #0a6397;
  display: flex;
  justify-content: center;
  transition: left 0.3s ease-in-out;
  z-index: 100;
}

.mobile-menu.active {
  left: 0;
}


.mobile-menu ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.mobile-menu a {
  color: #82be62;
  font-size: 1.2rem;
}

/* Mobile Menu Animation */

@keyframes slide {
  left: 0;

}

/* Hero Section */

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.9) blur(4px);
}

.hero-text {
  position: absolute;
  width: 50%;
  margin-left: 5rem;
  color: #eee;
}

.hero-text > h1 {
  font-size: min(6.5vw, 4rem);
  margin-bottom: 1.5rem;
}

.hero-text > span {
  font-size: min(4.3vw, 2.5rem);
  font-weight: 500;
  font-style: italic;
}

.hero-text > p {
  font-size: min(4.3vw, 1.6rem);
  margin-bottom: 4rem;
  font-weight: 500;
}

.mobile-hero {
  margin-bottom: 4rem;
  font-weight: 600;
  font-style: italic;
  line-height: 2.2rem;
  font-size: 1.5rem;
}

.bigger-btn {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 10px;
}

.bigger-btn i {
  translate: 0px 0px;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.hero-bottom {
  background-color: var(--primary-color);
  width: 100%;
  padding: 3rem 5vw;
  margin: var(--section-margin);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3rem;
  color: #eee;
}

.hero-bottom .divider {
  display: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero-bottom h4 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.hero-bottom p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .hero {
    justify-content: center;
  }

  .hero video {
    display: none;
  }

  .hero-text {
    position: static;
    width: 80%;
    color: #042a40;
    margin: 0;
  }

  .hero-bottom {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .hero-text {
    width: 95%;
  }

  .hero-bottom {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .hero-bottom {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .hero-bottom .divider {
    display: block;
  }
}

/* Services section */

.services {
  width: min(80%, 1400px);
  margin: var(--section-margin);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: var(--section-margin);
}

.services h2 {
  grid-column: span 3;
}

.service-card {
  width: content;
}

.service-card i {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.service-card h3 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 900px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services h2 {
    grid-column: span 2;
  }
}

/* Testimonials Section */

.swiper {
  width: 100%;
  padding: 4rem;
  padding-bottom: 6rem;
  margin: var(--section-margin);
  background-color: var(--primary-color);
}

.swiper h2 {
  color: #eee;
}

.new-card {
  width: 80%;
  height: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  margin: 0 9rem;
}

.column {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.new-card .column img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.review-stars {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.review-text {
  max-width: 55ch;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-right: 3rem;
}

.review-name {
  font-size: 1rem;
  color: #448;
}

.swiper-pagination-bullet-active {
  background-color: #eee;
}

.swiper-button-prev, .swiper-button-next {
  color: #eee;

}

.swiper-button-next {
  margin-right: 2rem;
}

.swiper-button-prev {
  margin-left: 2rem;
}

.swiper-pagination {
  margin-bottom: 1rem;
}



@media screen and (max-width: 1300px) {
  .new-card {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .new-card {
    width: 100%;
    gap: 1.5rem;
  }

  .review-text {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .new-card {
    display: block;
    width: 80%;
    height: unset;
  }

  .column {
    width: 100%;
    display: block;
    height: fit-content;
  }

  .column:has(img) {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review {
    padding: 1.5rem;
  }

  .review-stars {
    font-size: 1.5rem;
  }

  .review-text {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

/* WHY CHOOSE US */
.yus {
  margin: var(--section-margin);
}

.yus-wrapper {
  /* width: clamp(30%, 1400px, 70%); */
  width: clamp(750px, 100%, 1200px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.yus-card {
  width: clamp(250px, 100%, 400px);
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}

.yus-card i {
  color: var(--accent-color);
}

/* Some Black Magic */

@media screen and (min-width: 1000px) {
  .yus-wrapper > *:nth-child(3n + 1) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* Select the second column */
  .yus-wrapper > *:nth-child(3n + 2) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* Select the third column */
  .yus-wrapper > *:nth-child(3n) {
  }

  /* Select the second row */
  .yus-wrapper > *:nth-child(n + 4):nth-child(-n + 6) {
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Example style */
  }

  /* Select the third row */
  .yus-wrapper > *:nth-child(n + 7):nth-child(-n + 9) {
    border-top: 2px solid blue; /* Example style */
  }
}

.yus-card i {
  margin-bottom: 1.5rem;
}

.yus-card h4 {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.yus-card p {
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .yus-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: clamp(500px, 100%, 800px);
  }

  .yus-card {
    width: clamp(150px, 100%, 400px);
  }

  .yus-wrapper > *:nth-child(2n + 1) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .yus-wrapper > *:nth-child(-n + 4) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 600px) {
  .yus-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* HOW WE WORK */

.hww-wrapper {
  width: 70%;
  margin: var(--section-margin);
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
}

.hww-intro {
  grid-row: span 6;
}

.hww-intro p {
  margin-top: 1rem;
}

.hww-card {
  border-left: 10px solid var(--secondary-color);
  padding-left: 1rem;
}

.hww-card h4 {
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 900px) {
  .hww-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .hww-wrapper {
    grid-template-columns: 1fr;
  }

  .hww-wrapper h3 {
    grid-row: span 1;
  }
}

/* FAQ */

.faq {
  margin: var(--section-margin);
  font-size: 1.5rem;
}

.faq h3 {
  text-align: center;
  font-size: 2rem;
  opacity: 0.6;
  margin-bottom: 4rem;
}

.faq-wrapper {
  width: clamp(300px, 80%, 1100px);
  margin: auto;
}

.faq-card {
  margin: 2rem 0;
  /* background-color: rgba(255, 160, 122, 0.3); */
  background-color: var(--primary-color);
  padding: 3rem;
  border-radius: 20px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.faq-question i {
  font-size: 2rem;
}

.faq-answer {
  display: none;
  padding-top: 3rem;
  position: relative;
}

.faq-answer::before {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 160, 122, 0) 0%,
    rgba(255, 160, 122, 1) 50%,
    rgba(255, 160, 122, 0) 100%
  );
  position: absolute;
  top: 1.5rem;
}

/* CTA Section */

.cta {
  /* color: #ebf4fe; */
  color: #fff;
  width: 80%;
  margin: 4rem auto;
  padding: 3rem 4rem;
  border-radius: 0px 60px 0px 60px;
  background: #213767 url(resources/yellow-curvy-line.svg) no-repeat;
  background-position: -30% 48%;
  background-size: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  overflow: hidden;
}

.cta h3 {
  font-size: 4vh;
  margin-bottom: 1vh;
}

.cta p {
  font-size: 2vh;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 2rem;
}

.cta button {
  height: max-content;
  background-color: #f7d168;
  padding: 1rem;
  border-radius: 10px;
  color: #222;
  font-weight: 600;
  font-size: 1.3rem;
}

.cta p:has(i) {
  font-size: 2rem;
  color: #fff;
}

/* Footer Section */

footer {
  width: 100%;
  padding: clamp(1rem, 5vw, 4rem);
  background: #141414;
  color: #eee;
}

.footer-main {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-main > a {
  max-width: 400px;
}

.email-cta-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.email-cta-subtext {
  font-size: 1rem;
  max-width: 70ch;

}

footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0.5rem;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

footer form:focus-within{
  box-shadow: 0px 0px 20px 4px #7b64cd;
}

footer input {
  height: 3rem;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #eee;
  border: none;
  width: 100%;
}

footer input:focus {
  outline: none;
}

footer button {
  position: absolute;
  right: 0;
  height: 3rem;
  border-radius: 5px;
  text-align: center;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.email-cta-privacy {
  font-size: 0.7rem;
  color: #aaa;
}

footer button:hover {
  background-color: #eee;
  color: #222;
  cursor: pointer;
}

.footer-links h4 {
  font-size: 1.5rem;
}

.footer-links a {
  color: white;
  display: block;
  margin-top: 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
}

.divider-bar {
  width: 90%;
  height: 2px;
  background-color: #eee;
  margin: auto;
}

.footer-bottom {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.footer-legal {
  display: flex;
  gap: 1rem;
}

.footer-legal a {
  color: #fff;
}

.mobile-footer {
  margin: 3rem 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mobile-footer a img{
  
  
}
.mobile-footer .cta-btn {
  padding: 10px 15px;
  background-color: white;
  outline: 3px white solid;
  outline-offset: -3px;
  border-radius: 4px;
  transition: 300ms;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  transition: 300ms;
  line-height: 16px;
}

.mobile-footer .cta-btn i {
  translate: 0px 2px;
}

.mobile-footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.mobile-footer a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .footer-links {
    display: none;
  }

  .email-cta {
    width: 60%;
  }

  .email-cta form input {
    font-size: 1rem;
  }

  .email-cta form button {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 1000px) {
  .footer-bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 870px) {
  .footer-main {
    display: none;
  }
  .mobile-footer {
    display: flex;
  }
  .mobile-footer img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .footer-legal {
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-footer img {
    width: 100%;
  }
}

@media screen and (max-width: 377px) {
  .footer-legal {
    text-align: center;
  }
}

/* -------------------------------------------------------------------------------
-------------------------------------REVIEWS PAGE---------------------------------
------------------------------------------------------------------------------- */

.review-container-exp {
  width: 95%;
  height: calc(100vh - 80px);
  margin: auto;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent 10%,
    black 100%,
    transparent 90%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.scrolling-column1,
.scrolling-column2,
.scrolling-column3 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  will-change: transform;
}

.img-container {
  width: 100%;
  margin-bottom: 1rem;
}

.review-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}


/* -------------------------------------------------------------------------------
-------------------------------------PRIVACY PAGE---------------------------------
------------------------------------------------------------------------------- */

.legal-container {
  max-width: 1100px;
  margin: 4rem auto;
}

.legal-container h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.legal-container h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}