* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.fas.fa-star {
  color: rgb(213, 177, 58);
}

body {
  background-color: #fff;
}

button {
  all: unset;
}

img {
  width: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid black;
}

.logo {
  height: 100%;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.navbar-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  padding: 0.3rem;
}

.navbar-menu a::after {
  content: ".";
  position: absolute;
  font-size: 3rem;
  bottom: -50%;
  left: 50%;
  translate: -50%;
  display: none;
}

.navbar-menu li:hover {
  scale: 1.1;
  transition: 200ms;
}

.navbar-menu a:hover::after {
  display: block;
}

/* CTA button styles */

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.cta-btn .cta-text {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 300ms;
}

.cta-btn:hover {
  background-color: transparent;
}

.cta-btn:hover .cta-text {
  color: #181717;
}

/* Mobile burger menu */
.nav-toggle {
  display: none;
  width: 2rem;
}

.burger-line {
  background-color: #000;
  width: 100%;
  height: 3px;
}

.burger-line:nth-child(2) {
  margin: 10px 0;
}

@media screen and (max-width: 1000px) {
  .nav-toggle {
    display: block;
  }
  
  .navbar-menu {
    display: none;
  }
}

/* Hero Section */

.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter:brightness(0.9) blur(4px);
}

.hero-text {
  position: absolute;
  width: 50%;
  margin-left: 5rem;
  color: #eee;

}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.hero-text span {
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
}

.hero-text > p {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.hero-bottom {
  background-color: #ddf;
  width: 70%;
  height: 200px;
  z-index: 5;
  margin: auto;
  position: relative;
  top: -100px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bottom .col {
  flex: 1 1 clamp(150px, 10vw, 350px);

}

.hero-bottom h4 {
  font-size: clamp(1rem, 5vw, 3rem);
}

.hero-bottom p {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Services section */

.services {
  margin: 0 0 4rem 0;
  padding: 2rem 0 2rem 0;
  text-align: center;
  overflow: hidden;
}

.services h2 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.services p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 20% 0 20%;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
}

.service-card {
  min-width: 350px;
  max-width: 450px;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: #666 10px 10px 20px;
}

.service-card img {
  width: 7rem;
  border-radius: 50%;
}

.service-card h3 {
  font-size: 1.7rem;
  margin: 1rem 0 0.5rem 0;
}

.service-card p {
  color: #333;
  font-weight: 500;
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
}

.service-card button {
  border: 1px solid black;
  padding: 0.7rem;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  background-color: #000;
  border-radius: 5px;
  color: #eee;

}

.service-card button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  
}


/* Testimonials Section */

.testimonials {
  width: clamp(400px, 90%, 1300px);
  overflow: hidden;
  position: relative;
  margin: 4rem auto;
  text-align: center;
}

.testimonials h3 {
  font-size: 3rem;
}

.testimonials-wrap {
  display: flex;
  transition: transform 0.5s ease-in-out;
  text-align: initial;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 0 2rem 10px;
}

.col-tes {
  width: 50%;
}

.col-tes img {
  box-shadow: #444 10px 10px 20px;
}

.col-tes p:has(i) {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.col-tes p:nth-of-type(2) {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.col-tes p:last-of-type {
  font-size: 1.1rem;
  font-weight: 600;
  color: #777;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.testimonial-slider i {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
}


@media screen and (max-width: 800px) {
  .testimonial {
    flex-direction: column;
    padding-top: 0rem;
  }

  .col-tes {
    width: 90%;
  }

  .testimonials h3 {
    font-size: 2rem;
  }
}

/* Values Section */

.values {
  padding: 4rem;
  text-align: center;
  background-image: url(resources/past-projects/past-project-2.jpeg);
}

.values h2 {
  margin-bottom: 2vh;
  font-size: 2.5vw;
}

.values-wrapper {
  width: max-content;
  margin: auto;
  display: grid;
  gap: 1vw;
  padding: 0px;
  justify-items: center;
}

.value {
  max-width: 350px;
  min-width: 300px;
  flex: 1 1 0;
  outline: 1px solid red;
  padding: 1.5rem;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.value h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 820px) {
  .values-wrapper {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 1200px) {
  .values-wrapper {
    grid-template-columns: repeat(3,1fr);
  }
}


/* CTA Section */

.cta {
  /* color: #ebf4fe; */
  color: #fff;
  width: 80%;
  margin: 4rem auto;
  padding: 3rem 4rem;
  border-radius: 0px 60px 0px 60px;
  background: #213767 url(resources/yellow-curvy-line.svg) no-repeat;
  background-position: -30% 48%;
  background-size: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.cta h3 {
  font-size: 4vh;
  margin-bottom: 1vh;
}

.cta p {
  font-size: 2vh;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 2rem;
}

.cta button {
  height: max-content;
  background-color: #f7d168;
  padding: 1rem;
  border-radius: 10px;
  color: #222;
  font-weight: 600;
  font-size: 1.3rem;
}

.cta p:has(i) {
  font-size: 2rem;
  color: #fff;
}


/* Footer Section */

footer {
  width: 100%;
  padding: clamp(1rem, 5vw, 4rem);
  background: #141414;
  color: #eee;
  overflow: hidden;
}

footer .row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 4rem;
}

.cta-text {
  font-size: 1.2rem;
}

footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}

footer input {
  height: 3rem;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  flex: 0 0 65%;
}

footer button {
  height: 3rem;
  border-radius: 5px;
  text-align: center;
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  flex: 0 0 25%;
}

.subs-text {
  font-size: 0.7rem;
  color: #aaa;
}

footer button:hover {
  background-color: #eee;
  color: #222;
  cursor: pointer;
}

.footer-right {
  display: flex;
  justify-content: end;
  gap: 4rem;
  width: 100%;
}

.footer-right h4 {
  font-size: 1.5rem;
}

.footer-right a {
  color: white;
  display: block;
  margin-top: 1.2rem;
  text-decoration: none;
  font-size: 1rem;
}


.divider-bar {
  width: 90%;
  height: 2px;
  background-color: #eee;
  margin: auto;
}

.footer-bottom {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;

}

.footer-legal a {
  color: #fff;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  .footer-links:last-of-type{
    display: none;
  }
}

/* Experimental */
